.more_wrapper {
  background-color: #ffffff;
  background-image: url(./bg2.svg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 5%;
  .rowOne {
    text-align: center;
    max-width: 750px;
    margin: 0px auto 0% auto;

    .two_buttons {
      .content_black {
        background-color: #000;
        color: #fff;
      }

      button {
        border: 1px solid #dbdee1;
        border-radius: 10px;
        padding: 12px 35px;
        background-color: transparent;
        transition: all 0.5s ease-in-out;
        font-size: 18px;
        font-family: inherit;
        font-weight: 600;
        cursor: pointer;
        margin: 10px;

        .content {
          position: relative;
          overflow: hidden;

          .text {
            transform: translateY(0%);
          }

          .hoverText {
            transition: all 1s ease-in-out;
            transform: translateY(0%);
            position: absolute;
            bottom: -100%;
          }
        }
      }

      button:hover {
        .hoverText {
          transform: translateY(-100%);
          transition: all 1s ease-in-out;
        }

        .text {
          transform: translateY(00%);
          transition: all 1s ease-in-out;
          opacity: 0;
        }
      }
    }
  }
}
