.faq_wrapper {
  padding: 5%;
  display: grid;
  grid-template-columns: 35% 65%;
  background-color: #f7f9fa;
  gap: 20px;
  .col_one {
    .desc {
      p {
        font-weight: 500;
        font-size: 20px;
      }
    }

    .link {
      font-weight: 600;
      color: #6481f1;
      text-transform: capitalize;
      border-bottom: 1px solid #dadee1;
      padding: 0px 0px 10px 0px;
      margin-bottom: 40px;
      max-width: fit-content;

      svg {
        color: #6481f1;
        font-size: 30px;
        margin: 0px 0px -8px 0px;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .faq_wrapper {
    grid-template-columns: 1fr;
  }
}
