.view {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 2px #ccc;
  border-radius: 10px;
  font-size: calc(16px + 2vh);
  font-weight: 600;
  margin: 0px 0px 4% 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
