.navbar {
  padding: 30px;
  transition: background-color 0.3s;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff; /* New background color when sticky */
    z-index: 1000; /* Ensure it stays on top */
    box-shadow: 0 4px 2px -2px rgb(231, 231, 231);
  }

  .navContainer {
    .navContent {
      display: grid;
      grid-template-columns: 15% 65% 20%;
      align-items: center;
      justify-content: center;
    }

    .navMenu {
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 15px;
      font-size: 16px;
      display: flex;
      font-weight: 500;

      a:hover {
        color: #0082f3;
      }
    }

    .navRight {
      display: flex;
      align-items: center;
      justify-content: end;
      column-gap: 20px;

      .cartIcon {
        svg {
          font-size: 22px;
        }
        .cNum {
          background-color: #6481f1;
          color: #fff;
          top: -15px;
          right: 5px;
          position: relative;
          font-size: 10px;
          padding: 3px 5px;
          border-radius: 10px;
        }
      }

      button {
        border: 1px solid #dbdee1;
        border-radius: 10px;
        padding: 12px 22px;
        background-color: transparent;
        transition: all 0.5s ease-in-out;
        font-size: 18px;
        font-family: inherit;
        font-weight: 600;
        cursor: pointer;

        .content {
          position: relative;
          overflow: hidden;

          .text {
            transform: translateY(0%);
          }

          .hoverText {
            transition: all 0.5s ease-in-out;
            transform: translateY(0%);
            position: absolute;
            bottom: -100%;
          }
        }
      }

      button:hover {
        .hoverText {
          transform: translateY(-100%);
          transition: all 1s ease-in-out;
        }

        .text {
          transform: translateY(00%);
          transition: all 1s ease-in-out;
          opacity: 0;
        }
      }
    }
  }
}

.hamburgerNavMenu {
  display: none;
  position: absolute;
  top: 110px;
  right: 0;
  background-color: #fff;
  width: 100%;
  height: 250px;
  padding: 20px;
  z-index: 9999;
  grid-gap: 20px;
}

.hamburgerNavMenu.active {
  display: grid;
}

.hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;

  .nav_item:hover {
    color: #0082f3;
    font-weight: 600;
  }
}

.hamburgerMenu .bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

.hamburgerMenu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburgerMenu.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburgerMenu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 1279px) {
  .navbar {
    padding: 10px;
    .navContainer {
      .navMenu {
        display: none !important;
      }

      .navRight {
        .cartIcon {
          display: none;
        }
      }

      .hamburgerMenu {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: flex-end;
      }
    }
  }
}
